<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362046677773-tkv9ernsip7lolgi54drqat12s6uolif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362046677773-tkv9ernsip7lolgi54drqat12s6uolif</string>
	<key>API_KEY</key>
	<string>AIzaSyDVjUhCrNj-b6NIpj_s0dA3CHa8hlez9cU</string>
	<key>GCM_SENDER_ID</key>
	<string>362046677773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>btrees.io.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-437f9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-437f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362046677773:ios:cccdc5dca1e8eff1d7c644</string>
</dict>
</plist>